body
{
  font-family:Cabin,helvetica,arial,sans-serif;
  font-size:16px;
}

.container
{
  max-width:960px;
}

a
{
  color:#000000;
  text-decoration:underline;
}

.navbar-default
{
  background-color:#ffffff;
  border:0;
  border-bottom:10px solid;
  border-color:#000000;
  height:90px;
  margin-bottom:0;
}

.nav>li>a
{
  -moz-transition-duration:250ms;
  -webkit-transition-duration:250ms;
  border-right:1px dotted #cccccc;
  display:block;
  padding:30px 34px;
  position:relative;
  text-decoration:none;
  transition-duration:250ms;
}

.nav>li>a:hover
{
  background-color:#000000!important;
  color:#ffffff!important;
}

.nav>li>a:active
{
  background-color:#999999!important;
  color:#ffffff!important;
}

.Slider
{
  background-image:url(../img/sanna-bkg.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-size:cover;
  border-bottom:10px solid #000000;
  color:#ffffff;
  min-height:500px;
  padding-top:30px;
  text-shadow:2px 2px 1px #000000;
}

div.Slider h1
{
  font-size:55px!important;
  font-weight:bold;
}

div.Slider h2
{
  font-size:20px!important;
  font-weight:normal;
  line-height:1.6em;
  max-width:60%;
}

.page-title
{
  border-bottom:1px dotted #000000;
  margin-bottom:10px;
}

div.page-title h3
{
  margin-bottom:5px;
  margin-top:5px;
}

a.post-anchor
{
  color:#000000;
  cursor:pointer;
  text-decoration:none!important;
}

a.post-anchor:hover
{
  color:#000000;
}

.btn-black,.btn-default
{
  text-decoration:none;
  text-shadow:none;
}

.btn-black
{
  -moz-transition-duration:300ms;
  -webkit-transition-duration:300ms;
  background-color:#000000;
  border:1px solid #000000;
  color:#ffffff;
  transition-duration:300ms;
}

.btn-black:hover
{
  background-color:#ffffff;
  border:1px solid #000000;
  color:#000000;
}

.btn-black:active
{
  background-color:#eeeeee;
  border:1px solid #cccccc;
  color:#999999;
}

.footer
{
  background-color:#a8a8a8;
  border-top:10px solid #828282;
  color:#303030 !important;
  margin-top:20px;
  padding-bottom:20px;
  padding-top:20px;
}

div.footer a
{
  color:#303030 !important;
}

.copyright
{
  border-top:1px dotted #828282;
  margin-top:15px;
  padding-top:5px;
}

hr
{
  border-top:1px dotted #000000;
}

div.footer p,div.footer span, div.footer a 
{
  font-size:13px;
  line-height:1.2em;
}

div.footer h6
{
  font-size:16px;
  font-weight:bold;
}

div.footer small
{
  font-size:12px;
}

div.footer ul li
{
  list-style: none;
}

div.footer ul
{
  padding-left: 0;
}

img.alignleft
{
  float:left!important;
  margin-right:20px;
}

img.alignright
{
  float:right!important;
  margin-left:20px;
}

@media (min-width: 100px) and (max-width: 768px) {
  div#main-navbar-collapse{background-color: #eeeeee!important; margin-top: 40px;border-bottom: 10px solid #000000;}
  .nav>li>a {padding-top: 15px; padding-bottom: 15px; }
}

@media (min-width: 768px) and (max-width: 960px) {
  .nav>li>a {padding:30px 17px;}
}